<footer class="d-flex flex-column flex-md-column text-center" id="footer">
    <ul class="list-inline">
        <li class="list-inline-item">
            <a href="#">Nous trouver</a>
        </li>
        <li class="list-inline-item">
            <a href="#">Conditions d'utilisation</a>
        </li>
        <li class="list-inline-item">
            <a href="#">Politique de confidentialité</a>
        </li>
        <li class="list-inline-item">
            <a href="#">Contact</a>
        </li>
    </ul>
    <p><br>&copy;
        {{ 'now'|date('Y') }}
        - CCI Developpement</p>
</footer>