<!-- main navigation -->
<nav class="navbar navbar-expand-lg bg-white shadow fixed-top py-0 mb-4">
    <div class="container justify-content-center">
        <!-- navbar brand & logo -->
        <a class="navbar-brand" href="/">
            <img class="d-inline-block align-center" src="{{ asset('build/images/logo.png') }}" height="100"
                alt="Aucune Commission Logo">
        </a>
        <!-- /navbar brand & logo -->
    </div>
</nav>
<!-- /main navigation -->