/* the ~ allows you to reference things in node_modules */
@import "~bootstrap/dist/css/bootstrap.css";

body {
  background-color: floralwhite !important;
  color: #312f31 !important;
  /*-- pour demarrer sous la navbar fixe --*/
  padding-top: 7em;
}

#content-wrap {
  min-height: 700px;
}

#footer {
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1em;
  background-color: #efefef;
}
